# Cache used by automake
autom4te.cache

# Python virtual environment
.venv

# Ignore compiled python file
*.pyc

# Various files written by emacs
*~
\#*#
.#*

# Not sure about this one
bindings/python/.deps/swig_python_wrap.Tpcc

# Mac Finder puts these into directories
.DS_Store

# Vim swap files
*.swp
.tramp_history

# Eclipse directories
/.settings
/.project
/.cproject
/.pydevproject

# Build directories
/build*

# Egg directory, if we install with pip install -e
python/refractor_framework.egg-info
bindings/python/refractor_framework_swig.egg-info

# Link to absco tables
absco
.env

# test output
absorber_absco.xml
*.new
lidort_setup
test.txt